$blue-mo: #00ddcd;
$red-mo: #f33959;
$yellow-alert-font: #ffaa00;
$green-alert-bg: #e7f7f4;
$red-alert-bg: #fff0f1;
$red-alert-font: #ff7175;
$yellow-alert-bg: #fff6e5;
$grey-mo: #e6ebf1;
$grey-font-mo: #9aa9b9;
$blue-bg-mo: #007AFF;
$black-mo: #333333;
